* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  width: 25rem;
  height: 30rem;
  border: 2px solid black;
}

.display {
  grid-column-start: 1;
  grid-column-end: 5;
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: #858694;
  color: #e0e0e0;
}

[id='item17'] {
  grid-column-start: 1;
  grid-column-end: 3;
}

.ops {
  background-color: #f5913e;
  border: 1px solid #d3d3d3;
}

.fkeys,
.nums {
  background-color: #e0e0e0;
  border: 1px solid #d3d3d3;
}
